@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

:root {
  --background: #0f172a;
  --foreground: #FFF;
}

html, body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}